<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a th:text="#{boats}" class="navbar-brand ms-3 mt-2 mb-2 fs-3" href="/home"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item me-5"
              th:classappend="${current == 'home' ? 'active' : ''}">
            <a th:text="#{home}" class="nav-link fs-5" href="/home"></a>
          </li>
          <li class="nav-item me-5"
          th:classappend="${current == 'regatta-overview' ? 'active' : ''}">
            <a th:text="#{regatta.overview}" class="nav-link fs-5" href="/regatta/overview"></a>
          </li>
          <li class="nav-item me-5"
          th:classappend="${current == 'add-regatta' ? 'active' : ''}">
            <a th:text="#{regatta.add}" class="nav-link fs-5" href="/regatta/add"></a>
          </li>
          <li class="nav-item me-5"
              th:classappend="${current == 'overview-storage' ? 'active' : ''}">
            <a th:text="#{storage.overview}"class="nav-link fs-5" href="/storage/overview"></a>
          </li>
          <li class="nav-item me-5"
              th:classappend="${current == 'add-storage' ? 'active' : ''}">
            <a th:text="#{storage.add}" class="nav-link fs-5" href="/storage/add"></a>
          </li>
          <li class="nav-item dropdown">
            <a th:text="#{lang}" class="nav-link dropdown-toggle fs-5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item fs-5" th:href="@{?lang=en}">ENG</a></li>
              <li><a class="dropdown-item fs-5" th:href="@{?lang=nl}">NL</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</body>
</html>